/* All Pages */

body{
    font-family: 'Poppins', sans-serif;
    margin: 10 auto;
    color: #151515;
    background-image: url("/Users/daianedasilva/Momentum/SmallBusiness/w1d2-small-business-html-DaianeS26/yellowflowers.jpg");
    background-size: cover;
}

nav ul li{
    display: inline-block;
    padding: 15px;
    
}

nav a{
    text-decoration: none;
}

li a:hover{
 color: #6b7ad1;
}

li a:visited{
    color: green;
}

li a:active{
    color: purple;
}

header{
    text-align: center;
}

span.bold{
    color: red;
}

/* Index */

header img{
    border-radius: 20px;
    width: 600px;
    height: 400px;
}

.main-content{
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    
}


/* In stock and Info */

.decor{
    width: 400px;
    background-image: linear-gradient(to right top, #6b7ad1, #6e83d6, #728cda, #7794de, #7d9de2, #75a9eb, #6fb4f2, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    height: 100px;
    margin: 0 auto;
    border-radius: 50px;
}

.decor h1{
    padding-top: 25px;
}

/* In stock */

img{
    width: 300px;
    height: 300px;
    border: 10px solid #fff;

}

details{
    text-align: center;
}

.stock{
    width: 40%;
    float: left;
    padding-top: 30px;
    margin-left: 30px;
    text-align: justify;
    padding-left: 20px;
}

.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
}

.right{
    margin-right: -30px;
}

/* Info */

.info{
    padding-top: 30px;
}